*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* variable declaration */
  --bg-color: hsl(30, 38%, 92%);
  --dark-cyan: hsl(158, 36%, 37%);
  --dark-blue: hsl(212, 21%, 14%);
  --grayish-blue: hsl(228, 12%, 48%);

  --fs: 14px;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}
.font-fraunces {
  font-family: "Fraunces", serif;
}

body {
  background-color: var(--bg-color);
  font-size: var(--fs);
}

.container {
  width: 100%;
  max-width: 600px;
  padding: 2em 1em;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 1rem;
}

.card__img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.card__description {
  padding: 1em;
}

.card__description-title {
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

.card__description-name {
  color: var(--dark-blue);
}

.card__description-title,
.card__description-name,
.card__description-text,
.card__description-price {
  margin-bottom: 0.5em;
}

.card__description-price {
  color: var(--dark-cyan);
}

.card__description-title,
.card__description-text,
.previous-price {
  color: var(--grayish-blue);
}

.card__description-name,
.card__description-price {
  font-size: 2.5em;
}

.previous-price {
  font-size: 1rem;
  text-decoration: line-through;
}

.card__description-button {
  background-color: var(--dark-cyan);
  display: flex;
  justify-content: center;
  padding: 1em 0;
  border-radius: 0.5em;
}
.button-text {
  margin-left: 1em;
  color: white;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 800px) {
  .container {
    padding-top: 10em;
    margin: auto;
  }
  .card {
    flex-direction: row;
  }
  .card__img {
    content: url("../images/image-product-desktop.jpg");
    width: 50%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 1em;
  }
  .card__description {
    padding: 2em;
  }
}
